<!DOCTYPE html>
<html>
  <head>
    <title>TravelSync - 旅をもっと手軽に</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.config.google_maps_api_key}&libraries=places", defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="header">
      <div class="header-content">
        <div class="logo">
          <%= link_to 'TravelSync', root_path, class: 'logo-text' %>
        </div>
        <nav class="nav-menu">
          <% if logged_in? %>
            <%= link_to 'ログアウト', logout_path, method: :delete, class: 'button' %>
            <%= link_to 'マイページ', '#', class: 'button' %>
            <%= link_to 'プラン一覧', plans_path, class: 'button' %>
          <% else %>
            <%= link_to 'ログイン', login_path, class: 'button' %>
            <%= link_to '新規登録', signup_path, class: 'button' %>
          <% end %>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="footer-content">
        <div class="footer-links">
          <%= link_to '利用規約', '#' %>
          <%= link_to 'プライバシーポリシー', '#' %>
          <%= link_to 'お問い合わせ', '#' %>
        </div>
      </div>
    </footer>
  </body>
</html>